<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - The Unix Shell</h3>
    <table class="table table-striped">
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      <tr> The schedule is subject to instructors and online teaching progress.</tr>
      <tr> <td>00:00</td>  <td>Introducing the Shell</td> </tr>
      <tr> <td>00:05</td>  <td>Navigating Files and Directories</td> </tr>
      <tr> <td>00:45</td>  <td>Working with Files and Directories</td> </tr>
      <tr> <td>01:35</td>  <td>Pipes and Filters</td> </tr>
      <tr> <td>02:10</td>  <td>Loops</td> </tr>
      <tr> <td>03:00</td>  <td>Shell Scripts</td> </tr>
      <tr> <td>03:45</td>  <td>Finding Things</td> </tr>
      <tr> <td>04:00</td>  <td>Finish</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Introduction to R</h3>
    <table class="table table-striped">
      <tr> The schedule is subject to instructors and online teaching progress.</tr>
      <tr> <td>00:00</td>  <td>Introduction to R and RStudio</td> </tr>
      <tr> <td>00:55</td>  <td>Project Management With RStudio</td> </tr>
      <tr> <td>01:25</td>  <td>Seeking Help</td> </tr>
      <tr> <td>01:45</td>  <td>Data Structures</td> </tr>
      <tr> <td>02:40</td>  <td>Exploring Data Frames</td> </tr>
      <tr> <td>03:10</td>  <td>Subsetting Data</td> </tr>
      <tr> <td>04:00</td>  <td>Control Flow</td> </tr>
      <tr> <td>05:05</td>  <td>Creating Publication-Quality Graphics with ggplot2</td> </tr>
      <tr> <td>06:25</td>  <td>Vectorization</td> </tr>
      <tr> <td>06:50</td>  <td>Functions Explained</td> </tr>
      <tr> <td>07:50</td>  <td>Writing Data</td> </tr>
      <tr> <td>08:10</td>  <td>Splitting and Combining Data Frames with plyr</td> </tr>
      <tr> <td>09:10</td>  <td>Data Frame Manipulation with dplyr</td> </tr>
      <tr> <td>10:05</td>  <td>Data Frame Manipulation with tidyr</td> </tr>
      <tr> <td>10:50</td>  <td>Producing Reports With knitr</td> </tr>
      <tr> <td>12:05</td>  <td>Writing Good Software</td> </tr>
      <tr> <td>12:20</td>  <td>Finish</td> </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- right column -->
    <div class="col-md-6"> <!-- right column -->
    <h3>Day 3 - Geospatial Analysis with R </h3>
    <table class="table table-striped">
      <tr> The schedule is subject to instructors and online teaching progress.</tr>
      <tr> <td>00:00</td>  <td>Intro to Raster Data</td> </tr>
      <tr> <td>00:50</td>  <td>Plot Raster Data</td> </tr>
      <tr> <td>02:00</td>  <td>Reproject Raster Data</td> </tr>
      <tr> <td>03:00</td>  <td>Raster Calculations</td> </tr>
      <tr> <td>04:00</td>  <td>Work With Multi-Band Rasters</td> </tr>
      <tr> <td>05:00</td>  <td>Open and Plot Shapefiles</td> </tr>
      <tr> <td>05:30</td>  <td>Explore and Plot by Vector Layer Attributes</td> </tr>
      <tr> <td>06:30</td>  <td>Plot Multiple Shapefiles</td> </tr>
      <tr> <td>07:30</td>  <td>Handling Spatial Projection & CRS</td> </tr>
      <tr> <td>08:30</td>  <td>Convert from .csv to a Shapefile</td> </tr>
      <tr> <td>09:30</td>  <td>Manipulate Raster Data</td> </tr>
      <tr> <td>10:30</td>  <td>Finish</td> </tr>
    </table>
  </div>
    <h3>Day 4 - Git for beginners</h3>
    <table class="table table-striped">
      <tr> The schedule is subject to instructors and online teaching progress.</tr>
      <tr> <td>00:00</td>  <td>Automated Version Control</td> </tr>
      <tr> <td>00:05</td>  <td>Setting up Git</td> </tr>
      <tr> <td>00:10</td>  <td>Creating a Repository</td> </tr>
      <tr> <td>00:40</td>  <td>Tracking Changes</td> </tr>
      <tr> <td>01:05</td>  <td>Exploring History</td> </tr>
      <tr> <td>01:10</td>  <td>Ignoring Things</td> </tr>
      <tr> <td>01:55</td>  <td>Remotes in Github</td> </tr>
      <tr> <td>02:20</td>  <td>Collaborating</td> </tr>
      <tr> <td>02:35</td>  <td>Conflicts</td> </tr>
      <tr> <td>02:45</td>  <td>Open Science</td> </tr>
      <tr> <td>02:50</td>  <td>Licensing</td> </tr>
      <tr> <td>02:52</td>  <td>Citation</td> </tr>
      <tr> <td>03:02</td>  <td>Hosting</td> </tr>
      <tr> <td>03:12</td>  <td>Suppmental: Using Git from RStudio</td> </tr>
    </table>
  </div>
  
</div>
